<p id="notice"><%= notice %></p>

<h1>Last Reviews</h1>

    <% @reviews.each do |review| %>
      <%= image_tag review.image.url(:medium) %><br>

      <%= link_to 'Show', review, class:"btn btn-default" %>        
      <%= link_to 'Edit', edit_review_path(review), class:"btn btn-default" %>
      <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, 
                                                            class:"btn btn-danger" %>
    <% end %>
